<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href={% static "css/style.css" %}> 
        <title>HELLO</title>
    </head>

    <body>
        <header>
            <header>
            {% include 'lab_6/partials/navbar.html' %}
            <br>
            <br>
            </header>
        </header>
        <br>
        
        
        <h1 align="center" style=>
            Halo, Apa kabar?
        </h1>

        <div>
            <form action="lab6" method="post" class="status" >
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
                {% endfor %}
            <button type="submit" class="btn btn-primary" style="background-position: center">Submit</button>
            <br>
            <br>
            </form>
        </div>

        <div class="card bg-info text-white">
            {% for i in status %}
                <div class="card-body">
                {{ i.dateTime }}<br>
                {{ i.status }}
                </div>
            {% endfor %}
        </div>
    </body>

    <footer> 
        {% include 'lab_6/partials/footer.html' %}
    </footer>

</html>