<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
        <link rel="stylesheet" href={% static "css/style.css" %}>
        <script src="{% static 'js/jsStory8.js' %}"></script>

        <title>Profile</title>

        

    </head>

    <body class="body" onload="myFunction()" style="margin:0;">

        <script>
            var myVar;

            function myFunction() {
                myVar = setTimeout(showPage, 2000);
            }

            function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("myDiv").style.display = "block";
            }
        </script>

        <div id="loader"> 
        </div>

        <div style="display:none;" id="myDiv" class="animate-bottom">

            <header>
                {% include 'lab_6/partials/navbar.html' %}
                <br>
            </header>
            <br>
            <br>
            <h2 class="isi">Igor Lestin</h2>
                
                <div class="isi">
                    Age  : 19 <br>
                    Hobby:
                    <br>
                    <ul>
                        <li>
                            Listening music
                        </li>
                        <li>
                            Playing football
                        </li>
                    </ul>
                </div>
            <br>

            <div class="container">
                <br>
                <h1>Need more information?</h1>
            </div>
            
            <div class="container">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">My Activity</a>
                            <div class="accordion-content default">
                                <li>I go to study at 8.00am every morning. I always check my phone when I get to study, but I don't always reply to them immediately. 
                                    At 1pm most days I have lunch. I usually go to the lab before exam.
                                    On Sunday morning I go to church.</li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseTwo">My Experience</a>
                            <div class="accordion-content">
                                <li>Staff of Sports Department BEM Fasilkom UI</li>
                                <li>Project officer of Contingent Appreciation</li>
                                <li>Student Delegate Camp : Participants Division | 2017 - 2018</li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseThree">My Achievement</a>
                            <div class="accordion-content">
                                <li> Patiently waiting Liverpool to get the title. (yea that's an award i think) </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="container">
                <button type="button" id="button-orange" class="btn btn-primary custom-btn1">Annoying Orange</button>
                <button type="button" id="button-green" class="btn btn-primary custom-btn2">Green Lantern</button>
                <button type="button" id="button-default" class="btn btn-primary custom-btn3">Default</button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                {% include 'lab_6/partials/footer.html' %}
        </div>
    </body>
</html>