body, html {
  height: 100%;
    min-height: 100%;
    background: url("../media/background.e06e78334e1f.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

h1, h2 {
  color: ghostwhite;
}
.status {
  margin: 20px;
  max-width: 300px;
  padding: 12px;
  border-radius: 10px;
}
.isi {
      margin: 20px;
  max-width: 300px;
  padding: 12px;
  border-radius: 10px;
    color: ghostwhite;
}
