
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="lab6">HELLO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile">Profile</a>
    </li>
  </ul>
</nav>